<div class="container">
    <h1 class="py-4 text-center text-danger">Le Bon Plan</h1>
    <div class="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Paris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lyon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Marsille</a>
            </li>
        </ul>
    </div>
</div>