<footer class="footer bg-success pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading"><a href="#" class="text-decoration-none text-white">Le Bon Plan</a></h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">Menu</h2>
                <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block text-decoration-none text-black">Home</a></li>
                <li><a href="#" class="py-1 d-block text-decoration-none text-black">Cities</a></li>
                <li><a href="#" class="py-1 d-block text-decoration-none text-black">Sign Up</a></li>
                <li><a href="#" class="py-1 d-block text-decoration-none text-black">Log In</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Subscribe</h2>
                <form action="#" class="subscribe-form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email">
                        <button class="btn btn-outline-primary text-white" type="button">Submit</button>
                    </div>
                </form>
                <h2 class="footer-heading mt-5">Follow us</h2>
                <ul class="text-white list-style-type-none">
                    <li><a href="#" class=""></a><i class="bi bi-twitter"></i></li>
                    <li><a href="#"></a><i class="bi bi-facebook"></i></li>
                    <li><a href="#"></a><i class="bi bi-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="py-3 bg-light">
        <div class="container">
            <div class="text-center">
                <div class="">
                    <small>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> | All rights reserved by Le Bon Plan
                    </small>
                </div>
                <div class="">
                    <p class="">
                    <a class="me-md-3 text-decoration-none" href="#">Terms</a>
                    <a class="me-md-3 text-decoration-none" href="#">Privacy</a>
                    <a class="me-md-3 text-decoration-none" href="#">Compliances</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>