<div class="container col-6 my-5">
    <div class="row">
        <h2 class="text-center">Log In</h2>
        <form action="/login" method="POST">
            <div class="mb-3">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Email" 
                    name="email"
                >
            </div>
            <div class="mb-3">
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Password" 
                    name="password"
                >
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success"> <i class="bi bi-person-check me-4"></i>Log In</button>
            </div>
        </form>
    </div>
</div>